//test postcss-fontpath
/* stylelint-disable  property-no-unknown */
/* stylelint-disable*/
@font-face {
  font-family: 'Montserrat-Regular';
  font-path: '../fonts/Montserrat-Regular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-path: '../fonts/Montserrat-Bold';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-path: '../fonts/Roboto-Regular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  font-path: '../fonts/Roboto-LightItalic';
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'KaushanScript-Regular';
  font-path: '../fonts/KaushanScript-Regular';
  font-weight: normal;
  font-style: normal;
}
/* stylelint-enable */
